  /* MAIN */
h1, h2 {
  text-align: center;
}

  /* NAV */
nav p {
  text-align: center;
}
  nav p a {
    padding: 5px;
  }

  /* CHANNEL LIST */
.channel-list {
  padding: 5px;
  margin: 5px;
  position: relative;
  background: #ddd;
    /* Placeholder till I get more info from Twitch.tv about the channels */
  min-height: 50px;
}
  .delete-channel {
    position: absolute;
    top: 5px;
    right: 5px;
  }
