  /* MAIN */
.main-logo{
  margin: 0 auto;
  max-width: 500px;
}
h2 {
  text-align: center;
}

  /* NAV */
nav p {
  text-align: center;
}
  nav p a {
    padding: 5px;
  }

  /* PRODUCTS */
.main-products {
  min-height: 400px;
  padding: 5px;
}
  .main-products h4 {
    height: 40px;
  }
  .product-image {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .btn-cap {
		background: #0091ce;
		color: white;
	}
		.btn-cap:hover {
			background: #037eb1;
			color: white;
		}

  /* FOOTER */
footer {
  margin: 15px;
}
  footer p {
    text-align: center;
  }
